{% extends "base.html" %}

{% block content %}
<div class="p-5 bg-light text-dark">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto text-left">
            <h1 class="display-3">Анализатор страниц</h1>
            <p class="lead">Бесплатно проверяйте сайты на SEO пригодность</p>
            <form action="{{ url_for('add_url') }}" method="post" class="d-flex justify-content-center mt-4">
                <input type="text" name="url" value="{{ url_input or '' }}" class="form-control form-control-lg w-75" placeholder="https://www.example.com" required>
                <button type="submit" class="btn btn-primary btn-lg ms-2 px-5">Проверить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}